<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.qiang.system.mapper.LoginLogMapper">

    <select id="findLastTenDaysVisitCount" resultType="map">
        select date_format(l.login_time, '%m-%d') days, count(1) count from (
        select * from login_log where date_sub(curdate(), interval 10 day) &lt;= date(login_time)
        ) as l
        <where>
            <if test="username != null and username != ''">
                l.username = #{username}
            </if>
        </where>
        group by days
    </select>

</mapper>